*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 255, 141, 0.281);

}

.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 45px;
    padding: 20px;
}

.label{
    color: blue;
}

.tic-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    width: 300px;
    height: 400px;

}
.singlediv{
    border: 3px solid rgba(43, 25, 25, 0.548);
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background-color: rgb(165, 70, 70);
   
}